<div class="window">
    <ul class="domain-list">
    {% for domain in domains %}
        {% include "webpage/objects/domain.html" %}
    {% endfor %}
    </ul>

    <ul>
        {% for webpage in webpages %}
            {% include "webpage/objects/webpage.html" %}
        {% endfor %}
    </ul>
</div>

<style>
    body {
        margin: 0;
    }
    .window {
        display: flex;
        max-height: 100vh;
        padding-bottom: 2em;
        box-sizing: border-box;
    }
    .domain-list {
        width: 15em;
    }
    .requested {
        background-color: pink;
    }
    .source {
        background-color: aqua;
    }
    ul {
        padding: 1em;
        margin: 0;
        list-style: none;
        max-height: 100vh;
        overflow-y: scroll;
    }
    ul li {
        padding: 0.5em;
        border-bottom: 1px solid;
        text-overflow: ellipsis;
        overflow: clip;
        text-wrap: nowrap;
    }
</style>